@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-Thin.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-ThinItalic.otf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-ExtraLight.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-ExtraLightItalic.otf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-LightItalic.otf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-Italic.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-MediumItalic.otf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-SemiBold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-SemiBoldItalic.otf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-ExtraBold.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-ExtraBoldItalic.otf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('/src/fonts/Exo2.0-BlackItalic.otf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
