@import '../fonts/exo.scss';
$red: #f63b28;
$light-red: #ff6553;
$white: white;
$header: white;
$sidebar: white;
$dark-gray: #434343;
$gray: #b0b0b0;
$light-gray: #f1f1f1;
$mobile: 800px;

// Light mode
html {
  --bgHeader: white;
  --bgSidebar: white;
  --headerBorder: 1px solid #e7e7e7;
  --bg: white;
  --bgSecondary: #f1f1f1;
  --text: black;
  --textSecondary: #434343;
  --invertOnDark: invert(0);
  --invertOnLight: invert(1);
  --invertLite: invert(0.7);
  --fileShadow: 2px 2px 2px #e2e2e2;
  --fileHover: none;
  --fileBorder: #c2c2c2;
}
// Dark mode
html[theme='dark'] {
  --bgHeader: #1b1b1b;
  --bgSidebar: #1b1b1b;
  --headerBorder: 1px solid #434343;
  --bg: rgb(17, 17, 17);
  --bgSecondary: #434343;
  --text: white;
  --textSecondary: #dadada;
  --invertOnDark: invert(1);
  --invertOnLight: invert(0);
  --invertLite: invert(0.3);
  --fileShadow: none;
  --fileHover: #242424;
  --fileBorder: 1px solid rgba(0, 0, 0, 0);
}
* {
  box-sizing: border-box;
  font-family: 'Exo', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.01em;
}

img,
i,
svg,
.sidebar {
  user-select: none;
}

body {
  margin: 0;
  background-color: white !important;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: var(--headerBorder);
  justify-content: space-between;
  width: 100%;
  height: 90px;
  padding: 0 22px;
  background-color: var(--bgHeader);
  transition: background-color 0.2s;
  @media screen and (max-width: $mobile) {
    height: 65px;
    border-bottom: none;
  }
  #left {
    display: flex;
    flex-direction: row;
    align-items: center;
    .hamwrapper {
      display: none;
      align-items: center;
      width: 22px;
      height: 21px;
      margin-right: 26px;
      .hamburger {
        width: 22px;
        height: 3px;
        border-radius: 11px;
        background-color: black;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 22px;
          height: 3px;
          border-radius: 11px;
          top: -7px;
          left: 0px;
          background-color: black;
        }
        &:after {
          content: '';
          position: absolute;
          width: 22px;
          height: 3px;
          border-radius: 11px;
          top: 7px;
          left: 0px;
          background-color: black;
        }
      }
    }

    a {
      line-height: 0;
      img {
        height: 26px;
        @media screen and (max-width: $mobile) {
          height: 23px;
        }
      }
    }
  }
  #mid {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 25px 0 0;
    transition: background-color 0.2s;
    @media screen and (max-width: $mobile) {
      background-color: var(--bgHeader);
      position: absolute;
      left: 0;
      top: 65px;
      width: 100%;
      height: 55px;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--headerBorder);
      .nav-button {
        padding: 2px 8px 2px 10px;
        margin-right: 6px;
        border-radius: 0 22px 22px 0;
        transition: 0.1s ease-in-out;
        .nav-icon {
          display: flex;
          width: 24px;
          height: 24px;
          background-image: url('/src/images/folder-open-light.svg');
          background-size: cover;
        }
        &.open {
          background-color: $light-gray;
          .nav-icon {
            background-image: url('/src/images/folder-open-dark.svg');
          }
        }
      }
    }
    #searchbar {
      display: flex;
      align-items: center;
      top: 0;
      background-color: var(--bgSecondary);
      height: 45px;
      width: 273px;
      border-radius: 16px;
      position: relative;
      @media screen and (max-width: $mobile) {
        width: auto;
        height: 35px;
      }
      input {
        background: none;
        height: 100%;
        font-weight: 500;
        font-style: italic;
        padding: 7px 15px 7px 37px;
        width: 100%;
        color: var(--textSecondary);
        border: 0;
        transition: 0.3s;
        @media screen and (max-width: $mobile) {
          padding: 3px 7px 7px 37px;
        }
        &::placeholder {
          color: var(--textSecondary);
        }
      }
      &:before {
        content: '';
        position: absolute;
        height: 11px;
        width: 11px;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        background-image: url('/src/images/search.svg');
        filter: var(--invertLite);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  #right {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 12px 0;
    img {
      cursor: pointer;
      width: 40px;
      height: 40px;
      filter: var(--invertOnDark);
      transition: 0.3s;
      @media screen and (max-width: $mobile) {
        width: 35px;
        height: 35px;
      }
    }
    #logout {
      margin-right: 20px;
      padding: 14px 22px;
      background-color: $red;
      border: 0;
      color: white;
      font-size: 0.9rem;
      border-radius: 12px;
      @media screen and (max-width: $mobile) {
        padding: 10px 16px;
      }
      cursor: pointer;
      &:hover {
        background-color: #ff6152;
      }
    }
  }
}
.fs {
  display: grid;
  background: $white;
  grid-template-columns: 230px 1fr;
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
  @media screen and (max-width: $mobile) {
    display: block;
    height: calc(100vh - 120px);
    position: relative;
    top: 55px;
  }
  .sidebar {
    display: flex;
    height: calc(100vh - 90px);
    background-color: var(--bgSidebar);
    width: 250px;
    padding-right: 25px;
    left: 0;
    z-index: 3;
    transition: 0.2s;
    @media screen and (max-width: $mobile) {
      position: absolute;
      height: calc(100vh - 120px);
      transition: 0.3s ease-in-out;
      left: -260px;
      padding-right: 20px;
      &.show {
        left: 0;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
      }
    }
    .menu {
      all: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      li {
        all: unset;
        display: inline-flex;
        position: relative;
        box-sizing: border-box;
        height: 43px;
        border-radius: 0 90px 90px 0;
        align-items: center;
        line-height: 0;
        width: 100%;
        padding: 0 20px 0 54px;
        margin-bottom: 3px;
        color: var(--text);
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        transition: 0.1s;
        img {
          position: absolute;
          width: 20px;
          height: 20px;
          top: 50%;
          transform: translateY(-50%);
          transition: filter 0.2s;
          filter: var(--invertOnLight);
          left: 20px;
        }
        .lock:after {
          position: absolute;
          content: '';
          width: 16px;
          height: 16px;
          right: 20px;
          top: 50%;
          transform: translateY(-40%);
          background-image: url('/src/images/key.svg');
          background-size: contain;
          background-repeat: no-repeat;
        }
        &.red {
          background-color: $red;
          height: 60px;
          margin-bottom: 15px;
          margin-top: 40px;
          font-weight: 400;
          color: white;
          &:hover {
            background-color: #ff6456;
          }
          img {
            width: 17px;
            height: 17px;
            left: 22px;
            filter: none;
          }
        }
        &:hover {
          background-color: var(--bgSecondary);
        }
      }
    }
  }
  .sidebar-mask {
    display: block;
    position: absolute;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    @media screen and (max-width: $mobile) {
      pointer-events: initial;
      height: calc(100vh - 110px);
    }
    transition: 0.2s;
    &.hidden {
      background-color: rgba(0, 0, 0, 0);
      pointer-events: none;
    }
  }
  .files-window {
    height: calc(100vh - 55px);
    background-color: var(--bg);
    transition: background-color 0.2s;
    padding: 52px 45px 45px 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: black;
    @media screen and (max-width: $mobile) {
      padding: 45px 30px;
    }
    h1 {
      color: var(--text);
      .folder-black {
        width: 32px;
        height: 25px;
        transform: translateY(10%);
        margin-right: 28px;
        margin-left: 30px;
        filter: var(--invertOnDark);
      }
    }
    .files {
      /* On desktop, files are flexboxes with size chosen by user.
         On mobile, files are grid items with strict number of columns. */
      display: inline-flex;
      flex-wrap: wrap;
      margin-top: 25px;
      @media screen and (max-width: $mobile) {
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        grid-gap: 15px;
        place-items: start stretch;
      }
      @media screen and (max-width: 550px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media screen and (max-width: 320px) {
        grid-template-columns: repeat(1, 1fr);
      }
      // default size: 3
      --fileHeight: 165px;
      --fileWidth: 180px;
      .file {
        border: 1px solid transparent;
        box-sizing: border-box;
        display: inline-flex;
        position: relative;
        cursor: pointer;
        z-index: 0;
        flex-direction: column;
        width: var(--fileWidth);
        height: var(--fileHeight);
        @media screen and (max-width: $mobile) {
          height: 150px;
          margin: 0;
          width: 100%;
        }
        @media screen and (max-width: 400px) {
          height: 120px;
        }
        padding: 15px 0;
        margin: 7px;
        border-radius: 8px;
        img {
          height: 70%;
          margin: 0 15px;
          user-select: none;
        }
        p {
          font-size: 14px;
          cursor: initial;
          font-weight: 500;
          text-align: center;
          margin-top: 13px;
          word-break: break-word;
          color: var(--textSecondary);
        }
        .checkmark {
          position: absolute;
          display: none;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          user-select: none;
          width: 21px;
          height: 21px;
          border-radius: 21px;
          background-color: var(--bg);
          border: 1px solid var(--textSecondary);
          right: 8px;
          top: 8px;
          .mark {
            display: none;
            font-size: 0.8rem;
            color: var(--textSecondary);
          }
        }
        &:hover {
          border: 1px solid var(--fileBorder);
          box-shadow: var(--fileShadow);
          background-color: var(--fileHover);
          .checkmark {
            display: flex;
          }
        }
        &.selected {
          .checkmark {
            display: flex;
            .mark {
              display: initial;
            }
          }
        }
      }
    }
    .files[size='5'] {
      --fileHeight: 205px;
      --fileWidth: 220px;
    }
    .files[size='4'] {
      --fileHeight: 185px;
      --fileWidth: 200px;
    }
    .files[size='3'] {
      --fileHeight: 165px;
      --fileWidth: 180px;
    }
    .files[size='2'] {
      --fileHeight: 145px;
      --fileWidth: 160px;
    }
    .files[size='1'] {
      --fileHeight: 125px;
      --fileWidth: 140px;
    }
  }
}
h1 {
  font-size: 26px;
  height: initial;
}
.contextMenu {
  display: flex;
  position: absolute;
  top: 50vh;
  right: 50vw;
  background: var(--bg);
  border: 1px solid var(--bgSecondary);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.096);
  border-radius: 6px;
  width: 170px;
  z-index: 200;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
  &.hidden {
    display: none;
  }
  ul {
    width: 100%;
    li {
      box-sizing: border-box;
      marker: none;
      display: flex;
      width: 100%;
      font-weight: 400;
      color: var(--textSecondary);
      padding: 12px 22px;
      font-size: 0.9rem;
      transition: 0.1s;
      &:hover {
        background-color: rgba(133, 133, 133, 0.2);
      }
    }
  }
}
.switch {
  display: flex;
  align-items: center;
  #switchBtn {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  #sun,
  #moon {
    width: 20px;
    height: 20px;
    margin: 0 6px;
    filter: var(--invertLite);
  }
  #label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 30px;
    position: relative;
  }
  #label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 21px;
    height: 21px;
    background: #fff;
    border-radius: 26px;
    transition: 0.3s;
  }

  #switchBtn:checked + label {
    background: $light-red;
  }

  #switchBtn:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  #label:active:after {
    width: 25px;
  }
}
:global {
  .cookie-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    background-color: var(--bgHeader);
    border-top: var(--headerBorder);
  }

  .cookie-consent-banner__inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 30px;
  }

  .cookie-consent-banner__copy {
    margin-bottom: 16px;
  }

  .cookie-consent-banner__header {
    margin-bottom: 8px;
    color: var(--text);
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
  }

  .cookie-consent-banner__description {
    font-weight: normal;
    color: var(--textSecondary);
    font-size: 16px;
    line-height: 20px;
  }

  .cookie-consent-banner__cta {
    box-sizing: border-box;
    display: inline-block;
    min-width: 164px;
    padding: 11px 13px;
    transition: 0.1s;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: $red;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-right: 16px;
  }

  .cookie-consent-banner__cta--secondary {
    padding: 9px 13px;
    border: 2px solid var(--textSecondary);
    background-color: transparent;
    color: $red;
  }

  .cookie-consent-banner__cta:hover {
    background-color: $light-red;
  }

  .cookie-consent-banner__cta--secondary:hover {
    background-color: transparent;
    color: $light-red;
  }
}
